extends layout
block header
    link(rel='stylesheet', href='/leaflet/leaflet.css')
    link(rel='stylesheet', href='/leaflet/leaflet.draw.css')
    link(rel='stylesheet', href='/leaflet/Control.Geocoder.css')
block content
    .container
        .row
            .col-md-12.centered
                a(href='/home')
                    h1 GDI
    div(id="map").map
block scripts
    script(type='text/javascript' src='/leaflet/leaflet.js')
    script(type='text/javascript' src='/leaflet/leaflet.draw.js')
    script(type='text/javascript' src='/leaflet/Control.Geocoder.js')
    script(type='text/javascript' src='/leaflet/leaflet-knn.js')
    script(type='text/javascript' src='/public/javascripts/leaflet-custom-layers.js')
    script(type='text/javascript' src='/public/javascripts/leaflet-wfs.js')
    script(type='text/javascript' src='/public/javascripts/map.js')
