extends layout
block header
    link(rel='stylesheet', href='/leaflet/leaflet.css')
block content
    .container
        .row
            .col-md-12.centered
                a(href='/home')
                    h1 GDI
    div(id="map").map
block scripts
    script(type='text/javascript' src='/leaflet/leaflet.js')
    script(type='text/javascript' src='/public/javascripts/map.js')
